* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  color-scheme: dark;
  --bg-primary: #0a0c0e;
  --bg-secondary: #141618;
  --text-primary: #f5f5f5;
  --text-secondary: #e0e0e0;
  --accent: #6b7bff;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
